<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Jaki Woolnough's Family Tree</title>
		<link rel="icon" href="/FH/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/FH/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" media="screen" title="Default Style" href="/FH/styles/2010/list.css" />
		<!--[if IE]><style>body { behavior:url("/FH/styles/csshover.htc"); }</style><![endif]-->
	</head>
	<body>
		<div id="site-header">
			<h1>Jaki Woolnough's Family Tree</h1>
		</div>
		<div id="menu-container">
			<ul id="menu">
				<li>
					<a href="/FH/index.html" title="Home" tabindex="1">Home</a>
				</li>
				<li>
					<a href="/FH/memoirs.html" title="Memoirs" tabindex="2">Memoirs</a>
				</li>
				<li>
					<a href="/FH/origins.html" title="Name Origins" tabindex="3">Name Origins</a>
				</li>
				<li>
					<a href="/FH/photos.html" title="Photos &amp; Documents" tabindex="4">Photos &amp; Documents</a>
				</li>
				<li>
					<a href="/FH/list.html" title="View the Family Tree" tabindex="5">View the Family Tree</a>
				</li>
				<li>
					<a href="/FH/contact.html" title="Email Me" tabindex="6">Email Me</a>
				</li>
				<li>
					<a href="/FH/acknowledgements.html" title="Acknowledgements" tabindex="7">Acknowledgements</a>
				</li>
			</ul>
		</div>
		<div id="contentblock">
			{{$top := .}}
			<h2>Select {{if .Calc}}the {{if eq .First 0}}first{{else}}second{{end}} person for the calculator{{else}}a Name{{end}}</h2>
			<div id="letters">
				{{range $n, $letter := .Letters}}{{if ne $n 0}}|{{end}}<a href="?letter={{$letter}}{{if ne $top.First 0}}&amp;first={{$top.First}}{{end}}">{{$letter}}</a>{{end}}
			</div>
			<form action="?" method="post">
				<label for="search">Search Terms</label>
				<input type="text" name="query" id="search" value="{{.Query}}" />{{if gt .First 0}}
				<input type="hidden" name="first" value="{{.First}}" />{{end}}
				<input type="submit" value="Search" />
			</form>
			{{if .HasRows}}
			{{.Pagination}}
			{{if .Calc}}
			<form action="?" method="post">{{if ne .First 0}}
			<input type="hidden" name="first" value="{{.First}}" />{{end}}
			{{end}}
			<ul id="results">
			{{range .Rows}}
				{{$me := .}}
				<li class="result">
					<div class="name"><a href="tree.html?id={{.ID}}">{{.FirstName}} {{.Surname}}</a>{{if $top.Calc}}{{if ne $top.First .ID}}<button type="submit" name="chosen" value="{{.ID}}">Choose</button>{{end}}{{end}}</div>
					<div class="links">
						{{if ne .ChildOf.Husband.ID 0}}
						<div class="link"><a href="tree.html?id={{.ChildOf.Husband.ID}}">{{.ChildOf.Husband.FirstName}} {{.ChildOf.Husband.Surname}}</a>(Father)</div>
						{{end}}
						{{if ne .ChildOf.Wife.ID 0}}
						<div class="link"><a href="tree.html?id={{.ChildOf.Wife.ID}}">{{.ChildOf.Wife.FirstName}} {{.ChildOf.Wife.Surname}}</a>(Mother)</div>
						{{end}}
						{{range .ChildOf.Children}}
							{{if and (ne .ID 0) (ne .ID $me.ID)}}
						<div class="link"><a href="tree.html?id={{.ID}}">{{.FirstName}} {{.Surname}}</a>({{if eq .Gender 'F'}}Sister{{else if eq .Gender 'M'}}Brother{{else}}Sibling{{end}})</div>
							{{end}}
						{{end}}
						{{range .SpouseOf}}
							{{if and (ne .Husband.ID 0) (ne .Husband.ID $me.ID)}}
						<div class="link"><a href="tree.html?id={{.Husband.ID}}">{{.Husband.FirstName}} {{.Husband.Surname}}</a>(Husband)</div>
							{{end}}
							{{if and (ne .Wife.ID 0) (ne .Wife.ID $me.ID)}}
						<div class="link"><a href="tree.html?id={{.Wife.ID}}">{{.Wife.FirstName}} {{.Wife.Surname}}</a>(Wife)</div>
							{{end}}
							{{range .Children}}
						<div class="link"><a href="tree.html?id={{.ID}}">{{.FirstName}} {{.Surname}}</a>({{if eq .Gender 'F'}}Daughter{{else if eq .Gender 'M'}}Son{{else}}Child{{end}})</div>
							{{end}}
						{{end}}
					</div>
				</li>
			{{end}}
			</ul>
			{{if .Calc}}
			</form>
			{{end}}
			{{.Pagination}}
			{{else}}
			<div>
				<span>To find a person in the tree try either of the following: -</span>
				<ol>
					<li>Select a letter above to find all people with surnames starting with that letter.</li>
					<li>Use the above search box to search for specific names.</li>
				</ol>
			</div>
			{{end}}
		</div>
	</body>
</html>
