jsLoaded([
	{
		"name": "tree",
		"attrs": {
			"chosen": "{{.ID}}"
		},
		"children": [
			{
				"name": "fams",
				"children": [
	{{range .SpouseOf}}
					{
						"name": "fam",
						"attrs": {
							"famid": "{{.ID}}",
							"type": "0"
						},
						"children": [
			{{if ne .Husband.ID 0}}
							{
								"name": "spouse",
								"attrs": {
									"pid": "{{.Husband.ID}}"
								}
							},
			{{end}}
			{{if ne .Wife.ID 0}}
							{
								"name": "spouse",
								"attrs": {
									"pid": "{{.Wife.ID}}"
								}
							},
			{{end}}
			{{range .Children}}
							{
								"name": "child",
								"attrs": {
									"pid": "{{.ID}}"
								}
							},
			{{end}}
							{}
						]
					},
	{{end}}
	{{if ne .ChildOf.ID 0}}
					{
						"name": "fam",
						"attrs": {
							"famid": "{{.ChildOf.ID}}",
							"type": "0"
						},
						"children": [
			{{if ne .ChildOf.Husband.ID 0}}
							{
								"name": "spouse",
								"attrs": {
									"pid": "{{.ChildOf.Husband.ID}}"
								}
							},
			{{end}}
			{{if ne .ChildOf.Wife.ID 0}}
							{
								"name": "spouse",
								"attrs": {
									"pid": "{{.ChildOf.Wife.ID}}"
								}
							},
			{{end}}
			{{range .ChildOf.Children}}
							{
								"name": "child",
								"attrs": {
									"pid": "{{.ID}}"
								}
							},
			{{end}}
							{}
						]
					}
	{{else}}
					{}
	{{end}}
				]
			},
			{
				"name": "people",
				"children": [
	{{$me := .}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.DOB}}",
							"dod": "{{.DOD}}",
							"pid": "{{.ID}}",
							"sex": "{{printf "%c" .Gender}}",
							"famc": "{{.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.FirstName}} {{.Surname}}"
					},
		{{if ne .ChildOf.Husband.ID 0}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.ChildOf.Husband.DOB}}",
							"dod": "{{.ChildOf.Husband.DOD}}",
							"pid": "{{.ChildOf.Husband.ID}}",
							"sex": "{{printf "%c" .ChildOf.Husband.Gender}}",
							"famc": "{{.ChildOf.Husband.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .ChildOf.Husband.SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.ChildOf.Husband.FirstName}} {{.ChildOf.Husband.Surname}}"
					},
		{{end}}
		{{if ne .ChildOf.Wife.ID 0}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.ChildOf.Wife.DOB}}",
							"dod": "{{.ChildOf.Wife.DOD}}",
							"pid": "{{.ChildOf.Wife.ID}}",
							"sex": "{{printf "%c" .ChildOf.Wife.Gender}}",
							"famc": "{{.ChildOf.Wife.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .ChildOf.Wife.SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.ChildOf.Wife.FirstName}} {{.ChildOf.Wife.Surname}}"
					},
		{{end}}
		{{range .ChildOf.Children}}
			{{if and (ne .ID 0) (ne .ID $me.ID)}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.DOB}}",
							"dod": "{{.DOD}}",
							"pid": "{{.ID}}",
							"sex": "{{printf "%c" .Gender}}",
							"famc": "{{.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.FirstName}} {{.Surname}}"
					},
			{{end}}
		{{end}}
		{{range .SpouseOf}}
			{{if and (ne .Husband.ID 0) (ne .Husband.ID $me.ID)}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.Husband.DOB}}",
							"dod": "{{.Husband.DOD}}",
							"pid": "{{.Husband.ID}}",
							"sex": "{{printf "%c" .Husband.Gender}}",
							"famc": "{{.Husband.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .Husband.SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.Husband.FirstName}} {{.Husband.Surname}}"
					},
			{{end}}
			{{if and (ne .Wife.ID 0) (ne .Wife.ID $me.ID)}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.Wife.DOB}}",
							"dod": "{{.Wife.DOD}}",
							"pid": "{{.Wife.ID}}",
							"sex": "{{printf "%c" .Wife.Gender}}",
							"famc": "{{.Wife.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .Wife.SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.Wife.FirstName}} {{.Wife.Surname}}"
					},
			{{end}}
			{{range .Children}}
					{
						"name": "person",
						"attrs": {
							"dob": "{{.DOB}}",
							"dod": "{{.DOD}}",
							"pid": "{{.ID}}",
							"sex": "{{printf "%c" .Gender}}",
							"famc": "{{.ChildOf.ID}}",
							"fams": "{{range $index, $fam := .SpouseOf}}{{if ne $index 0}},{{end}}{{$fam.ID}}{{end}}"
						},
						"text": "{{.FirstName}} {{.Surname}}"
					},
			{{end}}
		{{end}}
					{}
				]
			}
		]
	}
]);