<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Jaki Woolnough's Family Tree - {{.FirstName}} {{.Surname}}</title>
		<link rel="icon" href="/FH/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/FH/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" media="screen" title="Default Style" href="/FH/styles/2010/tree.css" />
		<script type="text/javascript" src="/FH/scripts/tree.js"></script>
	</head>
	<body>
		{{$me := .}}
		<div id="contentblock">
			<h2>{{.FirstName}} {{.Surname}}</h2>
			<a href="list.html">Back</a>
			<div class="spouseLine row_1"></div>
			<div class="person row_1 sex_{{printf "%c" .ChildOf.Husband.Gender}}">
				{{if ne .ChildOf.Husband.ID 0}}<a href="tree.html?id={{.ChildOf.Husband.ID}}">{{end}}
					<span class="name">{{.ChildOf.Husband.FirstName}} {{.ChildOf.Husband.Surname}}</span>
				{{if ne .ChildOf.Husband.ID 0}}</a>{{end}}
			</div>
			<div class="person row_1 sex_{{printf "%c" .ChildOf.Wife.Gender}}" style="left: 250px">
				{{if ne .ChildOf.Wife.ID 0}}<a href="tree.html?id={{.ChildOf.Wife.ID}}">{{end}}
					<span class="name">{{.ChildOf.Wife.FirstName}} {{.ChildOf.Wife.Surname}}</span>
				{{if ne .ChildOf.Wife.ID 0}}</a>{{end}}
			</div>
			<div class="downLeft row_1" style="left: 125px; width: 100px; height: 100px;"></div>
			<div class="downLeft" style="left: 125px; top: 200px; width: 0px; height: 85px;"></div>
			{{$numSpouses := len .SpouseOf | uint}}
			{{if ne $numSpouses 0}}
				<div class="spouseLine row_2" style="left: 50px; width: {{sub $numSpouses 1 | int | .SpousePos  | mul 200}}px"></div>
				{{range $n, $family := .SpouseOf}}
					{{$pos := $me.SpousePos $n | mul 200 | add 50}}
					{{if ne .Husband.ID $me.ID}}
						<div class="person row_2 sex_{{printf "%c" .Husband.Gender}}" style="left: {{$pos}}px">
							{{if ne .Husband.ID 0}}<a href="tree.html?id={{.Husband.ID}}">{{end}}
								<span class="name">{{.Husband.FirstName}} {{.Husband.Surname}}</span>
							{{if ne .Husband.ID 0}}</a>{{end}}
						</div>
					{{else}}
						<div class="person row_2 sex_{{printf "%c" .Wife.Gender}}" style="left: {{$pos}}px">
							{{if ne .Husband.ID 0}}<a href="tree.html?id={{.Wife.ID}}">{{end}}
								<span class="name">{{.Wife.FirstName}} {{.Wife.Surname}}</span>
							{{if ne .Husband.ID 0}}</a>{{end}}
						</div>
					{{end}}
					{{if .Children}}
				<div class="downLeft row_2" style="left: {{sub $pos 125}}px; width: 100px; height: 100px;"></div>
				<div class="downLeft" style="left: {{sub $pos 125}}px; top: 400px; width: 0px; height: 85px;"></div>
					{{end}}
					{{range $c, $child := .Children}}
						{{if ne $c 0}}
							<div class="upLeft" style="left: {{$me.ChildPos $n $c | mul 200 | subr 75}}px; top: 410px;"></div>
						{{end}}
						<div class="person row_3 sex_{{printf "%c" .Gender}}" style="left: {{$me.ChildPos $n $c | mul 200 | add 50}}px">
							{{if ne .ID 0}}<a href="tree.html?id={{.ID}}">{{end}}
								<span class="name">{{$child.FirstName}} {{$child.Surname}}</span>
							{{if ne .ID 0}}</a>{{end}}
						</div>
					{{end}}
				{{end}}
			{{end}}
			<div class="person row_2 sex_{{.Gender | printf "%c"}}">
				<span class="name">{{.FirstName}} {{.Surname}}</span>
			</div>
			{{if len .ChildOf.Children | uint | gtr 1}}
				{{if ne $numSpouses 0}}
					<div class="upLeft" style="left: 225px; top:210px; width: {{.SiblingPos 0 .ID | mul 200 | subr 300}}px; height: 0px;"></div>
				{{end}}
				{{range $n, $sibling := .ChildOf.Children}}
					{{if ne .ID $me.ID}}
						<div class="upLeft" style="left: {{$me.SiblingPos $n $me.ID | mul 200 | subr 75}}px; top: 210px;"></div>
						<div class="person row_2 sex_{{.Gender | printf "%c"}}" style="left: {{$me.SiblingPos $n $me.ID | mul 200 | add 50}}px">
							{{if ne .ID 0}}<a href="tree.html?id={{.ID}}">{{end}}
								<span class="name">{{.FirstName}} {{.Surname}}</span>
							{{if ne .ID 0}}</a>{{end}}
						</div>
					{{end}}
				{{end}}
			{{end}}
		</div>
	</body>
</html>
