<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Main</title>
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" media="screen" title="Default Style" href="/styles/home.css" />
	</head>
	<body>
		<div id="site-header">
			<div>
				<h1>CARM Essential</h1>
				<h2>Holistic &amp; Beauty Therapy</h2>
			</div>
		</div>
		<div id="menu-container">
			<ul id="menu">
				<li>
					<a href="/index.html" title="Home" tabindex="1">Home</a>
				</li>
				<li>
					<a href="/about.html" title="About Me" tabindex="2">About Me</a>
				</li>
				<li>
					<a href="/treatments.html" title="Treatments" tabindex="3">Treatments</a>
				</li>
				<li>
					<a href="/products.html" title="Products" tabindex="4">Products</a>
				</li>
				<li>
					<a href="/contact.html" title="Contact Me" tabindex="5">Contact Me</a>
				</li>
				<li>
					<a href="/prices.html" title="Price List" tabindex="6">Price List</a>
				</li>
				<li>
					<a href="/vouchers.html" title="Vouchers" tabindex="7">Vouchers</a>
				</li>
				<li>
					<a href="/location.html" title="Location" tabindex="8">Location</a>
				</li>
{{if .LoggedIn}}				<li>
					<a href="/user.html" title="User Area" tabindex="9">User Area</a>
				</li>
{{else}}				<li>
					<a href="/login.html" title="Log In" tabindex="9">Log In</a>
				</li>
				<li>
					<a href="/registerindex.html" title="Register" tabindex="10">Register</a>
				</li>
{{end}}				<li>
					<a href="/terms.html" title="Terms &amp; Conditions" tabindex="{{if .LoggedIn}}10{{else}}11{{end}}">Terms &amp; Conditions</a>
				</li>
			</ul>
		</div>
		<div id="leftmenu">
			
		</div>
		<div id="contentblock">
